
<html>
  <head>
    <link rel="stylesheet" href="<%= url("/style.css")%>"/>
  </head>
  <body>
    <div class=game_option>
      <a class=contact_link href="/play">Codebreaker</a>
    </div>
    <div class=game_option>
      <a class=contact_link href="/ai">Codemaker</a>
    </div>
  </body>
</html>
