body {
  background-color: #2D2E2E;
}

p {
  font-family: Verdana, Arial, sans-serif;
  text-align: center;
  font-size: 12px;
  color: #FDFDFD;
  padding: 0;
  margin: 2px;
}

#mastermind_container {
  width: 217px;
  display: block;
  margin: 10px auto;
}

#retry, #home {
  width: 50px;
  height: 30px;
  font-family: Verdana, Arial, sans-serif;
  color: #FDFDFD;
  background-color: #323333;
  border: 1px groove #B1B3B3;
  cursor: pointer;
  display: table-cell;
  padding: 5px 0 0 0;
}

#retry:hover, #home:hover {
  background-color: #1C1C1C;
  border-color: #697575;
}

#code_input {
  width: 100px;
  text-align: center;
  margin: 2px auto;
  display: block;
  background-color: #323333;
  color: #FDFDFD;
  font-family: Verdana, Arial, sans-serif;
}

#code_tip {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  text-align: justify;
  color: #FDFDFD;
  background-color: #3B3B3B;
  padding: 3px;
  display: none;
}

#option_container {
  width: 170px;
  margin: 20px auto;
}

.title {
  font-family: "Courier New", Courier, monospace;
  font-size: 8px;
  color: #FDFDFD;
  font-weight: bold;
  padding-bottom: 20px;
}

.game_option {
  font-family: Verdana, Arial, sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #FDFDFD;
  height: 40px;
  width: 170px;
  margin: 20px 0;
  cursor: pointer;
}

.game_option:hover {
  background-color: #4B4D4D;
}

.game_option a{
  text-decoration: none;
  padding-top: 7px;
  display: block;
}

.game_option a:visited {
  color: #FDFDFD;
  text-decoration: none;
}

.table {
  display: table;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
}
/* jQuery will use the next two classes to find the next cell for input.
 * DO NOT DELETE
 * */
.xrow {
  display: table-row;
}

.xcell {
  display: table-cell;
}

.game_cell {
   width: 41px;
   height: 41px;
   border: 1px solid #4D4C4B;
}

.input_cell {
  width: 34px;
  height: 34px;
  border: 1px solid #4D4C4B;
  cursor: pointer;
}

.ocell {
  background-color: #CD7629;
}

.bcell {
  background-color: #27458A;
}

.ycell {
  background-color: #CDCA29;
}

.gcell {
  background-color: #209F30;
}

.rcell {
  background-color: #CD3129;
}

.pcell {
  background-color: #60228A;
}

.iocell:hover {
  background-color: #E09451;
}

.ibcell:hover {
  background-color: #647BB0;
}

.iycell:hover {
  background-color: #FFFD84;
}

.igcell:hover {
  background-color: #68C974;
}

.ircell:hover {
  background-color: #FF8A84;
}

.ipcell:hover {
  background-color: #8E60B0;
}

.peg {
  background-color: #5A5957;
  width: 20px;
  height: 20px;
  border: 1px solid #4D4C4B;
}

.blpeg {
  background-color: #000000;
}

.wpeg {
  background-color: #FDFDFD;
}

.button_container {
  width: 104px;
  margin: 10px auto;
}

.hidden {
  visibility: hidden;
  position: absolute;
}

.removable {
  cursor: pointer;
}
